p
{
	display: flex;
	width: 600px;
}
p.result
{
	width: auto;
}
div.result
{
	width: 50%
}
span
{
	width: 30%;
}
#chooseMusic
{
	display: none;
}
#chooseFilm
{
	display: none;
}
#chooseBook
{
	display: none;
}
#absolute
{
	width: 400px;
	position: fixed;
	background-color: #fff;
	margin: 40px 30% 40px 30%;
	z-index: 150;
	display: none;
}

#gray
{
	display: none;
	position: fixed;
	background-color: rgba(1, 1, 1, 0.75);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
#close
{
	position: absolute;
	right: 10px;
	top: 10px;
}
main
{
	display: block;
}
div div div.inf
{
	display: flex;
}