body
{
	background-image: url(back1.jpg);
	background-repeat: no-repeat;
	background-position: bottom center;
	background-color: #000000;
	background-attachment: fixed;
}
header
{
	display: flex;
}
header.page3
{
	display: block;
	float: right;
	width: 20%;
	margin-right: 20px;
	margin-top: 20px;
}
h2
{
	width: 100%;
}
p.forHeader
{
	margin-left: 10px;
	padding: 0px;
}
figure
{
	align-items: center;
	display: flex;
	width: 100%;
}
figure a
{
	align-items: center;
}
article
{
	display: flex;
}
nav
{
	display: flex;
}
.mainPage
{
	width: 100%;
	height: 100%;
}
p
{
	margin: 0px;
	padding: 0px 0px 20px 50px;
}
main
{
	margin: 30px; 
	margin-top: 30px;
	display: inline-block;
}
main.page2
{
	width: 90%;
}
main.page3
{
	width: 50%
}
@media (min-width: 800px)
{
	aside
	{
		background-color: #00000000;
		margin-top: 40px;
		position: sticky;
		top: 10px;
		float: left;
	}

	main.page2
	{
		width: 70%;
	}

	ul.flex.flexx
	{
		display: block;
	}
}
main section
{
	padding: 30px; 
	background-color: #eeeeee80; 
	box-shadow: 0 0 2px;
}
.textWhite
{
	color: #ffffff;
}
div.outFirst
{
	display: flex;
	flex-direction: row;
	width: 100%;
}

div span.first
{
	padding-left: 120px;
}
div span.second
{
	padding-left: 80px;
}
.white
{
	background-color: #eeeeee;
}
.gray
{
	background-color: #aabbcc;
}
div.block
{
	width: 5px;
	margin-right: 5px;
}
li
{
	margin-right: 60px;
}
ul.flex
{  
	display: flex;
}
ul ul
{
	display: flex;
	padding-inline-start: 0px;
	padding: 0px;
}

.after-dat
{
	display: inline;
}
a
{
	color: blue;
}
a.padd
{
	padding-left: 40px;
}
a.textWhite
{
	color: white;
}
footer
{
	display: flex;
}
footer div.mainPage
{
	padding: 40px 0px 10px 0px;
}
footer a
{
	font-style: italic;
}