h1{
	font-size: 200%;
	color: pink;
}
p{
	font: italic 10px/20px;
	color: purple;
	text-transform: capitalize;
	word-spacing: 20px;
	letter-spacing: 20px;
	text-indent: 50px;
	text-decoration: underline;
}

ul
{
	padding: 0px;
	color: green;
}

ul ul
{
	padding-left: 40px;
	color: blue;
}

ul ul ul
{
	color: red;
}

span[title]
{
	color: purple;
}

.class.class1.class2.class3.class4.class5.class6.class7.class8.class9.class10
{
	color: red;
}

#idishka
{
	left: 160px;
	background: yellow;
}

p>b
{
	color: red;
}

div::first-line
{
	color:blue;
}

div::first-letter
{
	color: red;
}

div::after
{
	content: "удиви";
}

h3:hover
{
	font-style: italic;
	color: pink;
	text-decoration: underline;
}

h3:only-of-type
{
	color:white;
}