li
{
	list-style-type: none;
}

#gray
{
	display: none;
	position: fixed;
	background-color: rgba(1, 1, 1, 0.75);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#result
{
	width: 400px;
	position: relative;
	background-color: #fff;
	margin: 40px auto;
	z-index: 150;
	display: none;
}
.test
{
	position: absolute;
}

#close
{
	position: absolute;
	top: 10px;
	right: 10px;
}
p
{
	padding: 20px;
}
h2
{
	padding: 20px;
}